# Python cache
__pycache__/
*.py[cod]
*$py.class
*.egg-info

# Environment variables
.env

# Logs
*.log

# UV/Python virtual environment
.venv/
venv/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Data files
.data/

# Misc
.tmp
logging/
TODO.md

# dbt
target/
.user.yml
dbt_packages/
dbt_internal_packages/

bin/

logs/

# Airflow
airflow/logs/
airflow/config/airflow.cfg
airflow/__pycache__/
airflow/**/__pycache__/
.airflowignore


# SSH
.ssh/
.secret/