langchain_community == 0.3.27
langchain_openai == 0.3.30
langchain_experimental == 0.3.4
langchain_tavily == 0.2.11
langgraph == 0.5.4
snowflake.core == 1.6.0
trulens-core == 2.2.1
trulens-connectors-snowflake == 2.2.1
trulens-providers-openai == 2.2.1
matplotlib == 3.10.3
trulens-apps-langgraph == 2.2.1
trulens-dashboard == 2.2.1
pyarrow < 19
setuptools < 81
langfuse == 2.59.5
